<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <!-- <h1>IrLug.</h1>
                <h5>Irpinia Linux User Group.</h5>
                -->
                <h1>Irpinia Linux User Groups</h1>
            </div>
            <div class="col-lg-5 col-lg-offset-4 himg">
                <img style="max-width: 70%;" src="{{ "/assets/img/logo-big.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
